#foot {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: white;
    background-color: #0076b2;
    text-align: center;
    padding-left: 9.375%; /* 90 / 960 */
    padding-right: 9.375%; /* 90 / 960 */
    padding-top: 1%;
    padding-bottom: 1%;
}