/***************************
****************************
Media Q Grid layout Phone (max width 450px)
****************************
***************************/

@media (max-width: 450px){

#wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "head head"
    "photo photo"
    "button button"
    "aside aside"
    "main main"
    "main main"
    "main main"
    "foot foot";
}

#head {
    grid-area: head;
}

#aside {
    grid-area: aside;
    display: none;
}

#photo {
    grid-area: photo;

}

#button {
    grid-area: button;
   
}


#main {
    grid-area: main;
    max-width: 450px;
 
    
    
}

#foot {
    grid-area: foot;
}
}

/***************************
****************************
Media Q Grid layout Tablet (max width 1050px)
****************************
***************************/
@media (max-width: 1050px){

    #wrapper {
        display: grid;
        grid-template-areas: 
        "head head"
        "photo photo"
        "button button"
        "aside aside"
        "main main"
        "main main"
        "main main"
        "foot foot";
    }
    
    #head {
        grid-area: head;
    }
    
    #aside {
        grid-area: aside;
        display: none;
    }

    #photo {
        grid-area: photo;
        
    }
    
    #main {
        grid-area: main;
    }

    #button {
        grid-area: button;
       
    }
    
    #foot {
        grid-area: foot;
    }
    }

    /***************************
****************************
Media Q Grid layout Desktop (min width 1060px)
****************************
***************************/
@media (min-width: 1060px){

    #wrapper {
        
        
        display: grid;
        grid-template-areas: 
        "head head"
        "aside photo"
        "aside main"
        "aside main"
        "aside main"
        "aside main"
        "foot foot";
    }
    
    #head {
        grid-area: head;
    }
    
    #aside {
        grid-area: aside;
        width: 80%; 
        margin-left:  9.375%; /* 90 / 960 */ 
    }

    #photo {
        grid-area: photo;
        margin-top: 5%; 
        width: 60%; /* 540 / 960 */ 
        margin-left:    9.375%; /* 90 / 960 */
        
    }
    
    
    #main {
        width: 80%;
        margin-left:    9.375%; /* 90 / 960 */   
        padding-left: 5%;        
        grid-area: main;
    }

    #button {
        grid-area: button;
        display: none;
    }
    
    #foot {      
        grid-area: foot;
    }
    }