h1 {    
    color: #000000;
    text-decoration: underline #fabe44;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25pt;
    margin-bottom: 5%;
    
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-decoration: underline #fabe44;
    font-size: 15pt;
    margin-bottom: 5%;
}

h3 {
    display: inline;
    font-size: 15pt;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline #fabe44;
}